## Screenshots

# Lint passes.
Linting.png

# User approval by hand.
User_Manual_Approvement.png

# My Docker Repository.
DockerRepo.png

# Kubernetes Cluster.
EKSCluster.png

# Final Website Working.
Website.png